<table class="table alternative-color-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  <%= for %{name: name, quantity: quantity} <- @line_orders do %>
      <tr>
        <td><%= name %></td>
        <td><%= quantity %></td>
      </tr>
  <% end %>
  </tbody>
</table>
