<table class="table">
  <tr>
    <td>Table</td>
    <td><%= @order.table.name %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <td>Payment method</td>
    <td><%= @order.payment_method %></td>
  </tr>
</table>

<%= render "line_order_table.html", line_orders: @order.line_orders, order: @order %>
