<%= render "base_summary.html", changeset: @changeset %>
<%= form_for @changeset, order_path(@conn, :table_create), fn f -> %>

  <%= inputs_for f, :line_orders, fn lo -> %>
      <%= hidden_input lo, :product_id %>
      <%= hidden_input lo, :quantity %>
  <% end %>

  <div class="form-group">
    <%= hidden_input f, :payment_method, value: "Cash" %>
  </div>

  <div class="form-group">
    <%= submit "Confirm", class: "btn btn-primary" %>
  </div>
<% end %>
