<h2>Show table</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @table.name %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @table.password %>
  </li>

</ul>

<%= link "Edit", to: table_path(@conn, :edit, @table) %>

<br /><br />

<%= link "Back", to: table_path(@conn, :index) %>
